@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}

:root {
  --ui-primary: #18181b;
}

.dark {
  --ui-primary: #fafafa;
}
